

.notifications-control {
   background-color: #dcdde0;
   display: inline-block;
   padding: 10px;
   height: auto;
   max-height: 700px;
   overflow-y: scroll;
   position: absolute;
   right: 0;
   top: 74px;
}

.messageBar {
   position:relative;
   width: 240px;
   border-radius: 4px;
   margin-bottom: 10px;
   overflow: hidden;
   padding: 8px;
   background-color: #fff;
   animation: barFadeIn 4s ease-in-out;
   transform-origin: top;
}


.messageBar .message-header.info>p {
   border-color:  var(--mainGrey);
   color: var(--mainPurple);
}

.messageBar .message-header>p {
   border: 1px var(--mainGrey);
   border-radius: 9px;
   display: inline-block;
   margin: 0;
   font-weight: 7200;
   padding:.25rem;
}

.close {
   position:absolute;
   top:0;
   right:0;
   font-size: 1rem;
   cursor: pointer;
   color: grey;
}

.messageBar>article {
   padding-left: 2px;
   margin-top: 10px;
   color: #898989;
}