 /* NAVBAR*/
.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 2rem;
    z-index: 1;
    background: #2b2a2a;
  }
  
  .toolbar__navigation{
    display: flex;
    align-items:center;
  } 
    
   /* div surrounding badge position in sm*/
  .toolbar__badge {
    margin-left: auto;
    margin-right: 2rem;
  
    display: flex;
    align-items: center;
  }
  
  
  .toolbar__logo a {
    font-size:2.25rem;
    margin-left: 1rem;
    color:#fff;
  }
  
    
  /*** toggle btn sm screen ***/
  
   .toggle-button{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 25px;
    width: 30px;
    background: transparent;
    border: none;
    padding:0;
  
  }
   
  .toggle-button__line{
    width: 30px;
    height: 2px;
    background: var(--mainWhite);
    transition: var(--mainTransition);
  }
  
  .toolbar_toogle-button{
    position: absolute;
    right: 20px;
   
  }
  
  /* change shape form of hambuger menu to x for close menu*/
  .toggle-button__line.active:nth-child(1){
    opacity:0;
  }
  .toggle-button__line.active:nth-child(2){
   transform: rotate(45deg);
  }
  .toggle-button__line.active:nth-child(3){
      transform: rotate(-45deg);
      position: absolute;
      top: 18px;
  }
  
   
  
  /* BADGE INITIAL WHEN LOGGED IN*/
  .badge{
    border-radius: 50%;
    padding: .45rem;
    text-transform: uppercase;
    background: #595ad4;
    color:#fefefe;
  }
  
  .badge:hover{
    color:  #595ad4;
    background: #fefefe;
  }
  /* END  BADGE INITIAL WHEN LOGGED IN*/
  
  
  
   
   .toolbar_navigation-items{
     flex:2;
    } 
  
   .toolbar_navigation-items ul{
    list-style:none;
    display: flex; 
    align-items: center;
  } 
   
  .toolbar_navigation-items li{
    list-style:none;
      padding: 0 .75rem; 
      transition: var(--mainTransition);
  }
    
  .nav-link{
    color:#fefefe;
    text-transform: uppercase;
    padding: 1rem 0;
    color: var(--mainWhite);
    transition: var(--mainTransition);
    text-align: center;
    font-size: 1rem;
    letter-spacing: var(--mainSpacing);
    }
    .nav-link:hover ,
    .nav-link:active{
        background: #fefefe;
       color: #595ad4;
       padding-left:1rem;
       padding-right:1rem;
    }    
  .icon-notification{
    margin: 0 1rem;
    font-size:2rem;
    color:rgba(0,0,0,0.5);
    cursor: pointer;  
   }
  
  .icon-notification:hover{
      color:var(--mainPurple);  
  }
  /* END NAVBAR*/
  
 
 
 
 
 
 