

.app__container .card__projDetails {
  height: fit-content;
}
/* PROJECT DETAILS  */

.card__projDetails{
  max-width: 950px;
  width: 80%;
  margin: 0 auto;
  color: #333;
  background-color: #fefefe;
  padding-top: 6rem;
}

.proj__info{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1rem;
  justify-content: space-between;
}


.card__projDetails img{
 width:100%;
   height:auto; 
   overflow: hidden; 
   margin: 0 auto; 
}

.card__projDetails h5{
font-weight: 700;
padding:1rem;
text-transform: uppercase;
background: #595ad4;
color:#fefefe;
}
.card__projDetails p{
padding: .75rem;
word-wrap: break-word;
}

.small__text{
display: flex;
align-items: center;
justify-content: flex-end;
}

 
.btn__create:hover{
  background-color: #25255f;
  color:var(--mainWhite);
}

button.icon__trash,
.project__btn-link{  
  align-self: flex-end
}


button.icon{
background-color:transparent;
border: 1px solid  #25255f;
width: 2rem;
padding: .35rem;
border-radius: 50%;
cursor:pointer;
margin: 0 .45rem ;
margin-bottom: .75rem;
color: #25255f;
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}

button.icon__pen a{
color: #25255f;  

}
button.icon__trash:hover,
button.icon__pen:hover{
border: none;
-webkit-transform: scale(1.25);
        transform: scale(1.25);
background-color:#fefefe;
color: #ff4b2b;
}

button.icon__pen:hover > a{
color: #ff4b2b;
}



@media (max-width:768px){
  .proj__info{
    grid-template-columns: 1fr;
  }
}