
/* COLOR */
.overlay{
        background: var(--mainRose);
        background: -webkit-gradient( linear, left top, right top, from(#521751), to(rgb(255, 65, 108))) no-repeat 0 0 / cover;
        background: -webkit-linear-gradient( left, #521751, rgb(255, 65, 108)) no-repeat 0 0 / cover;
        background: linear-gradient( to right, #521751, rgb(255, 65, 108)) no-repeat 0 0 / cover;
        color: var(--mainWhite);
        }




button{
         transition:transform 80ms ease-in; 
       }
       
       button:focus{
        outline:none;
       }
        
       button.ghost{
       background: transparent;
       border-color:var(--mainWhite);
       }

/* BUTTON SIGNUP/ SIGNIN */
button#sign-in:hover{
    background-color: var(--lightGrey);
    color:var(--mainOrange);;
    }
button#sign-up:hover{
    background-color: var(--lightGrey);
    color:var(--mainRose);
    }
.btn-primary:hover{
    background-color: var(--mainGreen);
    }

/* CONTAINER REGISTER FORM */
.container{
    background: var(--mainWhite);
    display: flex;
    justify-content: center;
    align-items: center;
position:relative;
width:100%;
   }

 
    /*  FORM SIGNUP/SIGNIN */
    .form-container{
    position:absolute;
    top:0;
    width:80%;
    transition: all .6s ease-in-out;
    
    }
    .form-group .auth{
    width: 170%;
           }
    .form-group h2{
      color:var(--mainPurple);
           }      
    .sign-in-container{
     left:0;
     top: 55%;
      width:100%;
      height:50%;
      z-index:2
    }
    .sign-up-container{
     left:0;
     top: 55%;
      width:100%;
      height:50%;
      z-index:1;
      opacity:0;
    }
    
    /* OVERLAY */
    
    .overlay-container{
     position:absolute;
     bottom:50%;
     left:0; 
     width:100%;
     height: 50%;
     overflow: hidden;
     transition: transform .6s  ease-in-out;
     z-index:100;
    }
    
    .overlay{
        position:relative;
        left: -100%;
        height:100%;
        width: 200%;
        transform: translateX(0);
        transition: transform .6s  ease-in-out;

    }
    
    .overlay-panel{
     position: absolute;
     top:0;
     height: 100%;
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 0 2px;
     height: 100%;
     width: 50%;
     text-align: center;
     transition: transform .6s  ease-in-out;  
    }
    
    .overlay-right{  
     right:0;  
     -webkit-transition: translateX(0%);  
     transition: translateX(0%); 
    }
    
    .overlay-left{  
     -webkit-transition: translateX(20%);  
     transition: translateX(20%); 
    }
    





    /* ANIMATION */
    
    /*  move sign in to the right */
    /*  when active target sign-in-container */
    .container.right-panel-active .sign-in-container{
     -webkit-transform: translateX(100%);
             transform: translateX(100%);
    
    }
    /*  move overlay   to the left */
    /*  when active target overlay-container */
    .container.right-panel-active .overlay-container{
     -webkit-transform: translateX(0%);
             transform: translateX(0%);
    
    }
    
    /*  move signup container over signin container */
    /*    */
    .container.right-panel-active .sign-up-container{
     -webkit-transform: translateX(0%);
             transform: translateX(0%);
     opacity:1;
    }
    
    
    /*  move overlay back to right */
    /*    */
    .container.right-panel-active .overlay{
     -webkit-transform: translateX(50%);
             transform: translateX(50%);
    }
    
    /* to recenter content txt after class activated */
    .container.right-panel-active .overlay-left{
     -webkit-transform: translateX(0%);
             transform: translateX(0%);
    }
    .container.right-panel-active .overlay-right{
     -webkit-transform: translateX(20%);
             transform: translateX(20%);
    }
    
    
    /* https://www.florin-pop.com/blog/2019/... */
    

    /* Change the direction of the form when the browser window is 700px wide or more */
@media only screen and (min-width: 700px) { 
   
  /* CONTAINER */
    .app__container {
      display: flex;
      justify-content: center;
      width: 100vw;
      height: calc(100vh - 60px);
      /* align-items: center; */
      /* height: 100vh; */
  }
  
  /* CONTAINER */
  .container{
    border-radius: 10px;  
    box-shadow: 0 14px 28px rgba(0,0,0, .25), 0 10px 10px rgba(0,0,0,0.22); 
   width:80vw;
   max-width: 100%;
   height: 500px;  
   margin:0 auto;
  }
  
  /*FORM SIGNUP / SIGNIN  */ 
  .form-container{
        height: 100%;
        display: flex;
  } 
  .sign-in-container{
    width:50%;
    top: 0;
  }
  .sign-up-container{
    width:50%;
    top: 0;
  }
  
  /* OVERLAY */
  
  .overlay-container{
   position:absolute;
   top:0;
   left:50%;
   width: 50%;
   height: 100%;
  }
 
  
  
  /* ANIMATION */
  
  /*  move sign in to the right */
  /*  when active target sign-in-container */
  .container.right-panel-active .sign-in-container{
   -webkit-transform: translateX(100%);
           transform: translateX(100%);
  
  }
  /*  move overlay   to the left */
  /*  when active target overlay-container */
  .container.right-panel-active .overlay-container{
   -webkit-transform: translateX(-100%);
           transform: translateX(-100%);
  
  }
  
  /*  move signup container over signin container */
  /*    */
  .container.right-panel-active .sign-up-container{
   -webkit-transform: translateX(100%);
           transform: translateX(100%);
   opacity:1;
  }
  
  }
  
  
  
   