.auth__form{
    margin-top: 4.65rem;
 
    padding: 2rem 0 0;
    height:95vh;
}

.tab__auth{
    display:flex;
    justify-content: center;
}
.tab__auth button{
  border:none;
  text-transform: lowercase;
  padding:0;
  padding-left:.5rem;
  color: blue;
}

/* for screen  with greater than 769px*/
@media(min-width:769px){
    .auth__form{
        padding: 5rem;
    }
}