
/* DASHBOARD */
.dashboard{
  width: 90%;
  display: grid;
  grid-template-columns:  1fr;
  grid-gap:2rem;
  margin: 0 auto;  
    
  padding: 5rem 0;
  text-align: center;
  
}

.grid-one{
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}


/* Change the direction of the form when the browser window is 700px wide or more */
@media only screen and (min-width: 769px) { 

.dashboard{
    grid-template-columns: 3fr 1fr;
}

p{
  line-height: 2rem;
}
   
  
/* DASHBOARD NOTIF */
.grid-two{
  display: flex;
  justify-content: center;  
  text-align: center;
}
}