/* DASHBOARD MAIN SECTION*/
.dashboard{
  padding: 5rem 0;
}

/* TITLE*/
.title{
  text-align: center;
  margin: 5rem 0;
}

/* PROJECTS LIST*/
.featured__projects-center{
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}



/* Change the direction of the form when the browser window is 700px wide or more */
@media only screen and (min-width: 769px) { 
  .featured__projects-center{
    width: 90vw;
    grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
  }
  /* each individual tab div */
.tabs .container>div {
  padding: 1.5rem 0;
  font-size: 1rem;
 
}
 
}

/* tabs container */

.tabs .container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

/* tabs */
.tabs .container>div {
  padding: 1rem 0;
  text-transform: uppercase;
  color: #000;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
    font-size: .75rem;;
  
}


.tab-item-active {
  background-color: var(--mainPurple);
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}