   /* TEST 1)  button on the LEFT */

   .toggle-button{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 25px;
    width: 30px;
    background: transparent;
    border: none;
    cursor:pointer;
    padding:0;
}

.toggle-button{
 outline:none;
}

.toggle-button__line{
    width: 30px;
    height: 2px;
    background: var(--mainWhite);
    transition: transform .3s ease-out;
  
}


 /* TEST 2) button on the RIGHT */
 .toolbar_toogle-button{
    position: absolute;
    right: 10px;
}

 

.toggle-button__line.active:nth-child(1){
  opacity:0;
}

.toggle-button__line.active:nth-child(2){
 transform: rotate(45deg);
 
}
.toggle-button__line.active:nth-child(3){
    transform: rotate(-45deg);
    position: absolute;
    top: 18px;
 
}


 
@media(min-width:769px){
 
    .toolbar_toogle-button{
        display:none; 
    }

}