 /* CORE STYLE */

 *{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
 body,html{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --mainBlack: #333;
  --mainWhite: #fefefe;
  --mainGreen:  #177e89;
  --mainRose: #ff416c;
  --mainOrange: #ff4b2b;
  --mainPurple: #595ad4;
  --darkPurple: #343480;
  /* --mainPurple: #521751; */
  --lightGrey:#DBE3E7;
  --mainBlue: #1B7AF6;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* GLOBAL*/

/*GLOBAL*/

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
  line-height: 1;
  margin-bottom: 0.5rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}
h3 {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1.2rem;
  line-height: 1.25;
  margin-bottom: 1.25rem;
}

 li{
   list-style : none;
 }
 
a{
  color:#333;
  text-decoration:none;
}

button{
  cursor: pointer;
}

input:focus, select:focus,  button:focus{
  outline: none;
}



.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
/* END GLOBAL */

/* NAVBAR*/
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: #000;
  z-index: 1;
}

.toolbar__navigation{
  display: flex;
  align-items:center;
} 
  
 /* div surrounding badge position in sm*/
.toolbar__badge {
  margin-left: auto;
  margin-right: 2rem;

  display: flex;
  align-items: center;
}


.toolbar__logo a {
  font-size:2.25rem;
  margin-left: 1rem;
}

.logo {
    color:#9c47fc;
  }
  
/*** toggle btn sm screen ***/

 .toggle-button{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  height: 25px;
  width: 30px;
  background: transparent;
  border: none;
  padding:0;
}
 
.toggle-button__line{
  width: 30px;
  height: 2px;
  background: var(--mainWhite);
  transition: var(--mainTransition);
}

.toolbar_toogle-button{
  position: absolute;
  right: 20px;
}

/* change shape form of hambuger menu to x for close menu*/
.toggle-button__line.active:nth-child(1){
  opacity:0;
}
.toggle-button__line.active:nth-child(2){
 transform: rotate(45deg);
}
.toggle-button__line.active:nth-child(3){
    transform: rotate(-45deg);
    position: absolute;
    top: 18px;
 
}

/*** end toggle btn sm screen ***/
 
/* cta btn when not logged in*/

/* cta btn when not logged in*/

/* BADGE INITIAL WHEN LOGGED IN*/
.badge{
  border-radius: 50%;
  padding: .45rem;
  text-transform: uppercase;
  background: #595ad4;
  color:#fefefe;
}

.badge:hover{
  color:  #595ad4;
  background: #fefefe;
}
/* END  BADGE INITIAL WHEN LOGGED IN*/



 
 .toolbar_navigation-items{
   flex:2;
  } 

 .toolbar_navigation-items ul{
  list-style:none;
  display: flex; 
  align-items: center;
} 
 
.toolbar_navigation-items li{
  list-style:none;
    padding: 0 .75rem; 
    transition: var(--mainTransition);
}
  
.nav-link{
  color:#fefefe;
  text-transform: uppercase;
  padding: 1rem 0;
  color: var(--mainWhite);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
  }
  .nav-link:hover ,
  .nav-link:active{
      background: #fefefe;
     color: #595ad4;
     padding-left:1rem;
     padding-right:1rem;
  }    
.icon-notification{
  margin: 0 1rem;
  font-size:2rem;
  color:var(--mainPurple);
  cursor: pointer;  
 }

.icon-notification:hover{
    color:var(--mainPurple);  
}

/*  NAVLINKS ORDER WHEN LOGGED IN*/
 
/* END  NAVLINKS ORDER WHEN LOGGED IN*/

/* END NAVBAR*/

/* APP CONTAINER */
 

/* SHOWCASE */
.homePage {
  padding: 5rem 0;
  text-align: center;
}

.banner-center{
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}

.banner h1 {
  font-family: gotham ssm a,gotham ssm b,sans-serif;
  font-size: 3rem;
  font-weight: 200;
  line-height: .75rem;
  margin: 3rem 0;
}

.banner p{
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
}

.cta-more{ 
  background-color:#0d91ca;
  margin-top:2rem; 
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.cta-more:hover {
  background-image: linear-gradient(to right, #25aae1 0%, #4481eb 60%, #3f86ed 100%);
  background-position: 100% 0;
  -moz-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
  -webkit-transition: var(--mainTransition);
  transition: var(--mainTransition);
}
/* END SHOWCASE */

/* LOGIN/SIGNUP FORM */

.form-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 60px;

}
.form-container > form{
  max-width: 500px;
  width: 100%;
}

.form-group.auth{
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 8px;
  position: relative;
}

.form-control{
  color: #414141;
  font-size: 17px;
  height: 46px;
  text-indent: 16px;
  width: 100%;
  background-color: #ededed;
  border: none!important;
}

/* alert msg when sign */
.text-danger{
  text-align: center;
  margin-bottom: 1.75rem;
  color: rgba(226,13,65,.8);
  transition: var(--mainTransition);
}
 

/* END LOGIN/SIGNUP FORM */

/* PROJECT FORMS*/
.project__form{
  margin: 8rem 2rem;
}
/* END PROJECT FORMS*/

/* REGISTRATION & SIGN IN FORM */

/* END REGISTRATION - SIGN IN FORM */

/* BUTTON */
/* END BUTTON */
/* PROJECT  FORM*/

.input__date{ 
  display: flex;
}


/* button{
 border-radius:20px;
 background: #0d91ca;
 color: var(--mainWhite);
 font-size: 1rem;
 font-weight:bold;
 padding:12px 45px;
 letter-spacing:1px;
 cursor:pointer;
  text-transform:uppercase; 
} */

button{

 font-size: 1rem;
 padding:12px 45px;
 letter-spacing:1px;
 cursor:pointer;
  text-transform:uppercase; 
}

.btn-primary{
  padding: 11px;
  width: 100%;
  /* max-width: 300px; */
  font-weight: 700;

  background: #6c5ce7;
  box-shadow: unset;
  color: #fff;
}



/* MEDIA QUERY */

/* Change the direction of the form when the browser window is 700px wide or more */
@media only screen and (min-width: 700px) { 
  .homePage {
    padding: 5rem 0;
    text-align: center;
  }
  p{
    line-height: 2rem;
  }


  /* CTA BTN NAV HOME*/
.cta-btn{
    padding: 1rem;
    border-radius: 5px;
    color: #fff;
    background:#e80a89;
    text-transform: uppercase;  
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75); 
    -moz-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    transition: var(--mainTransition);
  }
a.cta-btn:hover {
    color: #fff;
    background-image: linear-gradient(to right, #595ad4 0%, #e80a89 100%);
    background-position: 0 100%; 
  }
    /* END CTA BTN NAV HOME*/

}

/* for any screen with width less than 768*/
@media(max-width:768px){
  .toolbar_navigation-items{
      display:none; 
  }
}

/* for screen  with greater than 769px*/
@media(min-width:769px){
  .toolbar_toogle-button{
      display:none; 
  }
  .toolbar__logo {
    margin-left:0;
  }
  .badge{
    background: #fefefe;
    color:#595ad4;
    order:4;
  }

    /*  target 1rst nav item */
.toolbar_navigation-items li:nth-child(1){
  margin-left: auto;
  }
 

  /*  target logout nav li */
.toolbar_navigation-items li:nth-child(3){
    margin-left: auto;
  }
}


