 /* CORE STYLE */

 *{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
 body,html{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


:root {
  --mainWhite: #fefefe;
  --mainGreen:  #177e89;
  --mainRose: #ff416c;
  --mainOrange: #ff4b2b;
  --mainOrange: #521751;
  --lightGrey:#DBE3E7;
}


body{
 background: #f4f5f7;;
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 width:100vw;
}

h1, h2{
 /* font-weight: bold;
  margin: 0;       */
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -1px;
  font-family: montserrat;
  font-weight: 200;
  margin: 0;
  word-break: break-word;
}


p{
 font-weight: 100;
 font-size:1rem;
 line-height: 1.25rem;
 letter-spacing: .25rem; 
 margin:0 0 1rem;   
}

ul{
 padding:0;
}
li{
    align-self: center;
  text-decoration: none;
  list-style : none;
}

a{
color:#333;
font-size: 1rem;
text-decoration: none;
margin: 1rem 0;
}

/* APP CONTAINER */
.app__container {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 80px;  
  position: relative;
  height: calc(100vh - 60px);
}


/* PROJECT  FORM*/

form{
  width: 90vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.form-group{
 width: 70%;
 /* margin: 0 auto;  */
 width: 70%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

.form-group h3{
text-align: center;
text-transform: uppercase; 

}


.form-group input,
.form-group textarea {
width: 100%;
padding: 2.25rem;
border:transparent;
border-bottom: 1px solid #1B1B3A  ;
outline: none;
font-size: 1.25rem;
}

.form-group input:focus,
.form-group textarea:focus {
border-bottom: 1px solid #177e89;
}
.form-group button  {
 align-self: center;
 margin-top: 2rem;
}

/*FORM CONTAINER */
.form-container form{
 background: #fff;
  display:flex;
  flex-direction:column;
  padding:0 30px;
  /* height:100%; */
  width:100%;
  justify-content:center;
  align-items:center;
  text-align:center;
}

/*FORM CONTAINER INPUT*/
.form-container input{
 background: #F7F9FA;
 border: 1px solid #DBE3E7;
 border-radius: 5px;
 flex-direction:column;
 padding: .75rem;
 margin: .15rem 0;
 width: 150%;
 font-size: 1.05rem;  
}


.input__date{ 
  display: flex;
}


button{
 border-radius:20px;
 /* background: #ff4b2b; */
 background: #521751;
 color: #fff;
 font-size: 1rem;
 font-weight:bold;
 padding:12px 45px;
 letter-spacing:1px;
 cursor:pointer;
  text-transform:uppercase; 
}

/* Change the direction of the form when the browser window is 700px wide or more */
@media only screen and (min-width: 700px) { 
  p{
    line-height: 2rem;
  }

}



 